*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

:root {
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html,
body {
    height: 100%;  
}

.page {
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    position: relative;
    z-index: 10;
}

.wrapper {
    padding: 0 24px;
    text-align: center;
}

.wrapper.header-nav {
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list.header-nav__list {
    display: flex;
    margin-left: 53px;
}

.header-nav__item {
    font-size: 1.1875rem;
    letter-spacing: -.5px;
    margin-bottom: 23px;
    position: relative;
    z-index: 2;
}

.header-nav__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--very-dark-blue);
}

.button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: .9375rem;
    font-weight: 600;
    letter-spacing: -.25px;
    padding: 14px 33px;
    color: #fff;
    background: var(--bright-red);
    border-radius: 50px;
    position: relative;
}

.button.header-nav__button {
    z-index:6;
}

.button:hover {
    opacity: 0.5;
}

.wrapper.page-content__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 87px;
    position: relative;
    z-index: 5;
}

.wrapper.page-content__hero::before {
    position: absolute;
    content: '';
    top: -64px;
    right: 0;
    width: 375px;
    height: 423px;
    background: url('./images/bg-simplify-section-mobile.svg') no-repeat;
    z-index: 1;
}

.img--hero {
    position: relative;
    z-index: 5;
    width: 343px;
    margin-top: -121px;
}

.img--said-card {
    position: absolute;
    width: 20%;
    top: -40px;
    right: 40%;
    
}

.hero__title {
    font-weight: 600;
    color: var(--dark-blue);
    max-width: 600px;
}

.hero__copy {
    color: var(--dark-grayish-blue);
    max-width: 600px;
}

.said__card {
    position: relative;
    background-color: var(--very-light-gray);
}

.said__title {
   font-size: 1.9375rem;
   text-align: center; 
}

.page__footer {
    background: var(--very-dark-blue);
    color: white;
}

.group.page-footer__logo {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list.page-footer__social-list {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.page-footer__social-item {
    margin: 0 15px 0 0;
    font-size: 1.1875rem;
    letter-spacing: -.5px;
    margin-bottom: 23px;
    position: relative;
    z-index: 2;
}

.page-footer__social-item:hover .page-footer__social-icon path{
    fill: var(--bright-red);
}

.list.page-footer__nav-item:hover .list.page-footer__nav-link {
    color: var(--bright-red);
}
/* 
.page-footer__social-item:hover {
    filter: brightness(0) saturate(100%) invert(90%) sepia(65%) saturate(6820%) hue-rotate(59deg) brightness(87%) contrast(87%);
} */

.list.page-footer__nav-link {
    color: var(--grayish-blue);
    font-size: .9375rem;
    text-decoration: none;
}


@media only screen and (min-width: 900px) {
    .page {
        position: relative;
        overflow-x: hidden;
    }

    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 165px;
        text-align: left;
    }

    .wrapper.header-nav {
        text-align: center;
    }

    .header-nav__item {
        font-size: .9375rem;
        letter-spacing: -.6px;
        margin: 0 30px 0 0;
        position: relative;
    }

    .header-nav__item:hover .header-nav__link {
        color: var(--dark-grayish-blue)
    }

    .header-nav__item:hover::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        bottom: -32px;
        left: 0;
        background: linear-gradient(to right, var(--dark-blue), var(--bright-red));
        color: var(--dark-blue);
    }

    .wrapper.page-content__hero {
        flex-direction: row;
        justify-content: initial;
        align-items: flex-start;
        padding-bottom: 169px;
    }

    .wrapper.page-content__hero::before {
        background: url('../images/bg-simplify-section-desktop.svg') no-repeat;
        background-size: 100%;
        width: 95%;
        height: 917px;
        top: -97px;
        right: -58px;
    }

    .img--hero {
        order: 2;
        position: absolute;
        top: 130px;
        right: 147px;
        width: 33.3%;
        z-index: 5;
    }

    .group.hero__group {
        margin-top: 20px;
    }

    .hero__title {
        font-size: 3.1375rem;
        letter-spacing: -.5px;
        line-height: 1.3;
        width: 80%;  
    }

    .hero__copy {
        font-size: 1.125rem;
        letter-spacing: -.3px;
        line-height: 1.55;
        margin: 24px 0 35px 0;
        width: 63%;
    }

    .group.said__group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 72px;
        text-align: center;
    }

    .said__card,
    .card._choose:first-of-type {
        margin: 0;
        flex: 0 1 355px;
    }

    .said__card-title {
        font-size: 1.5rem;
        letter-spacing: -.4px;
        margin-top: 35px;
    }

    .said__card-copy {
        font-size: 1.0625rem;
        letter-spacing: -.77px;
        line-height: 1.55;
        width: 88%;
        margin-top: 26px;
    }

    .said__button {
        margin-top: 72px;
        text-align: center;
    }

    .page__footer {
        margin-top: 74px;
    }
    
    .wrapper.page-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 9px;
        padding-bottom: 20px;
    }

    .group.page-footer__logo {
        align-items: flex-start;
    }

    .list.page-footer__social-list {
        margin-top: 54px;
    }

    .page-footer__social-item {
        margin-right: 14px;
    }

    .group.page-footer__nav {
        display: flex;
        flex-direction: row;
        flex: 0 1 25.3%;
        justify-content: space-between;
        margin: 40px auto 0 10.3%;
        padding: 0;
    }

    .list.page-footer__nav-list {
        text-align: start;
    }
    
    .list.page-footer__nav-item {
        font-size: 1.1875rem;
        letter-spacing: -.5px;
        margin-bottom: 12px;
        position: relative;
        z-index: 2;
    }
}